H1 { font-size : 40pt;
 font-family : stencil,bernard MT condensed;  
text-align : center; 
background-color : deepskyblue;
}
H2, H3, H4  { font-size : 30pt;
 font-family : algerian;
text-align : center; 
background-color : lightsteelblue;
}

#IMG {width: 900px; 
height: 600px ; 
margin: 10px; 
align:center;
} 
#ladoderecho{
margin:-5px 20px 0px 0px;
float: right;
width: 80%;
text-align:justify;
color:blue;
}
aside {
        margin-tpo:0em;
        text-align: center;
	float: center;
	border: 0px solid blue;
	width: 50%;
	border: 0px solid red;
	/*Si quisieramos ocultar el contenido relacionado pondriamos visibility a hidden*/
	/*visibility: hidden;*/
}
P {font-size : 18pt; 
font-family: lucida fax; 
text-align: center;
background-color: dodgerblue; 
margin: 25px;
color: white;
} 
a:link, a:visited {
    float:center;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}
body{
background-color : darkblue;   
font-family : arial; 
color : white;
}
