H1  { font-size : 40pt;
 font-family : stencil,bernard MT condensed; 
text-decoration : underline;  
text-align : center; 
background-color : blue;
}
H2, H3, H4, H5, H6  { font-size : 30pt;
 font-family : algerian; 
text-decoration : underline;  
text-align : center; 
background-color : lightsteelblue;
}

IMG {width: 900px; 
height: 600px ; 
margin: 10px; 
align: center;
} 
P {font-size : 20pt; 
font-family: lucida fax; 
text-align: center;
background-color: navy; 
margin: 25px;

} 
aside {
        margin-tpo:0em;
        text-align: center;
	float: center;
	border: 0px solid blue;
	width: 50%;
	border: 0px solid red;
	/*Si quisieramos ocultar el contenido relacionado pondriamos visibility a hidden*/
	/*visibility: hidden;*/
}
a:link, a:visited {
    float:center;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}
BODY  { 
background-color : lightskyblue;   
font-family : arial; 
color : white;
}
