body{
    background: url(de3.jpg);
    background-size: 90%;
}
*{
    margin: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: cornsilk
}
.navegacion  ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;

}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: darkmagenta;
    font-family:  'Open sans';
    text-decoration: none;
}
.menu > li > a:hover{
    color: darkslategray;
    transition: all .3s;
   
}


.submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition:opacity 1.5s;
}
.submenu > li > a{
    display:block;
    padding: 15 px;
    color: darkgreen;
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li:hover .submenu{
   visibility: visible;
   opacity: 1;
}
h1{
    display: block;
    font-size: 2em;
 line-height: 1.4em;

 font-size: 70px;
 text-align: center;
}