*{
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100%;
    height: 400px;
    background: rgb( blue);
}
.ctn-header{
    width: 100%;
    height: 30px;
    text-align: center;
    position: relative;
    top: 5px;
}
.lbl-header{
    font-family: cursive ;
    font-size: 20px;
}
.ctn-data{
    width: 90%;
    margin:auto;
    padding:10px;
}
.p-data{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
 position: relative;
 margin-top: 10px;
background:rgb(233, 233, 12);

}
.ctn-lbl-comentar{
    width: 100%;
    text-align: center;
}
.lbl-comentar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 1px 2px 1px;

}